<div class="profile-card-social">
  <a href="#" class="profile-card-social_item facebook" target="_blank">
    <span class="icon-font">
      <i class="fab fa-facebook-f"></i>
    </span>
  </a>

  <%= link_to user_twitter_omniauth_authorize_path, class:"profile-card-social_item twitter", id: 'signup-twitter', method: :post do %>
    <span class="icon-font">
      <i class="fab fa-twitter"></i>
    </span>
  <% end %>
</div>