<h1 class="notification-title text-center">通知</h1>
<%= link_to "すべて削除", notification_path(@notifications), method: :delete, class: "fas fa-trash notification_del mb-4" %>
<% notifications = @notifications.where.not(visitor_id: current_user.id) %>
<% if notifications.exists? %>
  <div class="notification_list">
    <%= render @notifications %>
  </div>
<% else %>
  <p class="text-center">通知はありません</p>
<% end %>