li {
  list-style: none;
}

.brand {
  font-weight: bold;
  font-size: 20px; }

.header {
  position: relative;
  background-color: $main-color;

  &__left {
    display: flex;
    align-items: center;
    h3 {
      margin-right: 1rem;
      font-weight: bold;
      color: white;
    }
  }
}

.fa-size {
  font-size: 1.7em;
  color: white;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
  @media (min-width: 800px) {
    .header__wrapper {
      padding-top: 0;
      padding-bottom: 0;
    }
  }

.header__right {
  display: flex;
  align-items: center;
}

@media (min-width: 800px) {
  .nav__wrapper {
    display: flex;
  }
}

@media (max-width: 799px) {
  .nav__wrapper {
    position: absolute;
    top: calc(100% + 35px);
    right: 0;
    left: 0;
    z-index: -1;
    background-color: #d9f0f7;
    visibility: hidden;
    opacity: 0;
    transform: translateY(-100%);
    transition: transform 0.3s ease-out, opacity 0.3s ease-out;
  }
    .nav__wrapper.active {
      visibility: visible;
      opacity: 1;
      transform: translateY(0);
    }
  }

.nav__item {

  &:not(:last-child){
    margin-right: 0.3rem;
  }

  a {
    display: block;
    padding: 1rem 1rem 0 0;
    border-left: 4px solid transparent;
    color: white;
    &:hover {
      color: white;
    }
  }

}

  @media (min-width: 800px) {
    .nav__item a {
      text-align: center;
      border-left: 0;
    }
  }
.nav__item i {
  width: 28px;
  height: 28px;
  margin-right: 1rem;
}
  @media (min-width: 800px) {
    .nav__item i {
      display: block;
      margin: 0 auto 0.5rem;
    }
  }
  @media (min-width: 800px) {
    .nav__item.active a {
      border-bottom-color: #222;
    }
  }
.nav__toggle {
  display: none;
}
  @media (max-width: 799px) {
    .nav__toggle {
      display: block;
      position: absolute;
      right: 1rem;
      top: 1rem;
    }
  }

.book-search_container {
  box-sizing: border-box;
  position: relative;
  display: block;
  padding: 3px 10px;
  border-radius: 20px;
  height: 2.5rem;
  width: 15rem;
  overflow: hidden;
  background-color: white;
  input[type="text"] {
    border: none;
    height: 2.3rem;
    &:focus {
      outline: 0;
    }
  }
}
.book-search_btn {
  cursor: pointer;
  font-size: 1.3em;
  border: none;
  background: none;
  color: #3879D9;
  position: absolute;
  right: 0.5rem;
  outline : none;
}


.wrapper {
  max-width: 1140px;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: auto;
  margin-right: auto;
}

.alert-circle {
  position: absolute;
  padding-left: 1rem;
  padding-top: 0rem;
  color: #ff6647;
}