// font
$base-font: helvetica, arial, tahoma, verdana;
$base-font-title: "Dosis", arial, tahoma, verdana;
$base-font-color: #726f77;

// timeline-color
$bg-body: $sub-color;
$timeline-color: $accent-color;

.review-blank {
  padding-top: 3%;
  background-color: $bg-body;
}

// 回り込み防止
%clearfix {
  &:after, &:before {
    content: '';
    display: block;
    width: 100%;
    clear: both;
  }
}

.reviews-index {
  background: $bg-body;
  background-size: cover;
  margin: 0;
  padding: 0;
  font-family: $base-font;
  line-height: 20px;
  font-size: 14px;
  color: $base-font-color;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}

#timeline {
  width: 100%;

  position: relative;
  padding: 0 10px;

  &:before {
    content:"";
    width: 3px;
    height: 100%;
    background: $timeline-color;
    left: 21.3%;
    top: 0;
    position: absolute;
  }

  &:after {
    content: "";
    clear: both;
    display: table;
    width: 100%;
  }

  .review-index_item {
    margin-bottom: 50px;
    position: relative;
    @extend %clearfix;


    .review-index_user_icon {
      background: $timeline-color;
      width: 70px;
      height: 70px;
      position: absolute;
      top: 0;
      left: 20%;
      overflow: hidden;
      margin-left: -28px;
      border-radius: 50%;
    }

    .review-index_content {
      width: 45%;
      background: #fff;
      padding: 20px;
      box-shadow: 0 3px 0 rgba(0,0,0,0.1);
      border-radius: 5px;
      margin-left: 30%;

      & > h1 {
        padding: 15px;
        background: $timeline-color;
        color: #fff;
        margin: -20px -20px 0 -20px;
        font-weight: 300;
        font-size: 20px;
        border-radius: 3px 3px 0 0;
      }

      &:before {
        content: '';
        position: absolute;
        left: 29.2%;
        top: 20px;
        width: 0;
        height: 0;
        border-top: 7px solid transparent;
        border-bottom: 7px solid transparent;
        border-right: 7px solid $timeline-color;
      }

      .review-index_img img {
        margin: 1rem;
        width: 100px;
        box-shadow: 2px 2px rgba(0,0,0,0.1);
      }

      .review-index_del {
        position: absolute;
        bottom: 1rem;
        &_btn {
          border-radius: 3px;
        }
      }

      .review-index_fav {
        text-align: right;
      }

      .review-index_show {
        text-decoration: none;
        color: $base-font-color;
      }

      .review-index_text {
        margin-top: 5%;
        margin-bottom: 1rem;
        font-size: 18px;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  #timeline {
    margin: 30px;
    padding: 0px;
    width: 90%;
    &:before {
      left: 0;
    }

    .review-index_item {
      &:before {
        left: 10%;
        margin-left: -6px;
        border-left: 0;
        border-right: 7px solid $timeline-color;
      }

      .review-index_img img {
        display: none;
      }

      .review-index_user_icon {
        left: -1%;
      }
    }
  }
}