<div class="modal fade" id="show-relationship-modal" tabindex="-1" role="dialog" aria-labelledby="show-relationship-modal-lebel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">フォロワー</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <div class="list-wrapper" ng-app="app" ng-controller="MainCtrl as ctrl">
          <ul class="list">
            <li id="list-item" class="list-item">
              <% if @followers.present? %>
                <% @followers.each do |follower| %>
                  <div>
                    <% if follower.image.attached? %>
                      <%= image_tag follower.image, class: "list-item-image" %>
                    <% else %>
                      <%= image_tag "default-user.png", class: "list-item-image" %>
                    <% end %>
                  </div>
                  <div class="list-item-content">
                    <h4><%= follower.username %></h4>
                  </div>
                <% end %>
              <% else %>
                <div>現在フォローされているユーザーはいません</div>
              <% end %>
            </li>
          </ul>
        </div>

      </div>
    </div>
  </div>
</div>