<%= form_with(url: search_books_path, local: true, method: :get, class: 'search-form') do |f| %>
  <div class='search-group input-group'>
      <%= f.search_field(:keyword, placeholder: '書籍を検索', class: 'form-control ') %>
      <button type="submit"><i class="fas fa-search fa-lg"></i></button>
  </div>
<% end %>
