<%= form_with(url: search_books_path, local: true, method: :get) do |f| %>
    <%= f.search_field(:keyword, placeholder: '書籍を検索', class: 'a') %>
    <button type="submit"><i class="fas fa-search fa-lg"></i></button>
<% end %>
