<div class="wrapper_profile">
  <div class="profile-card">
    <div class="profile-card_img">
      <img src="https://weraveyou.com/wp-content/uploads/2021/03/elon-musk.jpeg" alt="profile card">
    </div>

    <div class="profile-card_content">
      <%# -----ユーザー名----- %>
      <div class="profile-card_name"><%= @user.username %></div>
      <%# -----プロフィール文----- %>
      <div class="profile-card_txt">
        I was born on June 28, 1971, in Pretoria, South Africa. As a child, Musk was so lost in his daydreams about inventions that his parents and doctors ordered a test to check his hearing.
      </div>

      <div class="profile-card-info">
        <%# -----フォロワー数----- %>
        <div class="profile-card-info_item">
          <div class="profile-card-info_title">990</div>
          <div class="profile-card-info_txt">フォロワー</div>
        </div>

        <%# -----フォロー数----- %>
        <div class="profile-card-info_item">
          <div class="profile-card-info_title">29</div>
          <div class="profile-card-info_txt">フォロー</div>
        </div>

        <%# -----投稿数----- %>
        <div class="profile-card-info_item">
          <div class="profile-card-info_title"><%= @user.reviews.count %></div>
          <div class="profile-card-info_txt">投稿数</div>
        </div>

      </div>

      <div class="profile-card-social">
        <a href="#" class="profile-card-social_item facebook" target="_blank">
          <span class="icon-font">
            <i class="fab fa-facebook-f"></i>
          </span>
        </a>

        <a href="#" class="profile-card-social_item twitter" target="_blank">
          <span class="icon-font">
            <i class="fab fa-twitter"></i>
          </span>
        </a>
      </div>

      <div class="profile-card-ctr">
        <button class="profile-card_button button-blue">フォローする</button>
      </div>
    </div>

  </div>

</div>

