<%= form_with(search_books_path, local: true, method: :get) do %>
    <input type="text" name="keyword" id="keyword" placeholder="書籍を検索">
    <button type="submit"><i class="fas fa-search fa-lg"></i></button>
<% end %>


