.book-show {
  margin: 3rem auto;
  padding: 0;
  text-align: left;
  border: none;
  position: relative;
  max-width: 900px;

  &-area {
    margin: 0 auto;
    padding: 2rem;
    background: #fff;
    border: 1px solid #dcdcdc;
    border-radius: 6px;
  }

  &-img {
    margin-right: 3rem;
  }

  &-users-count, &-reviews-count {
    display: inline-block;
    margin-bottom: 2rem;
  }

  &-will-read-btn {
    padding: 1rem;
    border: 2px solid $accent-color;
    color: $accent-color;
    cursor: pointer;
    transition: all 0.3s;
    &:hover {
      color: $cWhite;
      background: $accent-color;
    }
  }

}

.a {
  justify-content: space-between;
}

@media (max-width: 420px) {
  .book-show-authors {
    text-align: center;
  }
  .book-show-status {
    text-align: center;
  }
  .book-show-area {
    flex-wrap: wrap;
  }

  .book-show-img {
    margin: 0 auto 1.5rem auto;
  }

  .book-show-title {
    font-size: 1.75rem;
  }
}