<div class="review-blank"></div>
  <div class="reviews-index container-fluid">
    <div class="row">
      <div class="blank col-md-2"></div>
      <div class="review-index col-md-8">
        <%# -----投稿検索機能----- %>
        <%= render "shared/review-search" %>
        <% @reviews.each do |review| %>
          <%= render partial: "shared/review", locals: { review: review } %>
        <% end %>
      </div>
    <div class="ranking-book col-md-2">
    </div>
  </div>
</div>