<div class="review-blank"></div>
  <div class="reviews-index container-fluid">
    <div class="row">
      <div class="blank col-md-2"></div>
      <div class="review-index col-md-8">
        <%# -----投稿検索機能----- %>
        <%= form_with(url: reviews_searches_path, local: true, method: :get, class: "review-search_form") do |f| %>
          <%= f.text_field :keyword, placeholder: "投稿を検索する", class: "review-search_input" %>
          <%= f.submit "検索", class: "review-search_btn" %>
        <% end %>
        <% @reviews.each do |review| %>
          <%= render partial: "shared/review", locals: { review: review } %>
        <% end %>
      </div>
    <%# ランキング機能 %>
    <div class="ranking-book col-md-2">
    </div>
  </div>
</div>