$base-color: #c9daeb;
$main-color: #0e5a88;
$accent-color: #007ac4;
$sub-color: #85b4d0;
$cWhite: white;

html {
  scroll-behavior: smooth;
}

li {
  list-style: none;
}

.notifications {
  color: $cWhite;
  text-align: center;

  .notice {
    background-color: $sub-color;
  }

  .alert {
    background-color: orangered;
  }
}