$main-color: #243856;
$base-color: #dad9de;
$accent-color: #3a687e;
$sub-color: #d0bfc7;

@import "shared/header.scss";
@import "books/search.scss";
@import "books/show-review-modal.scss";
@import "users/show.scss";
@import "shared/index.scss";
@import "reviews/show.scss";
@import "shared/user-profile.scss";
@import "devise/sign-up.scss"