@import "shared/header.scss";
@import "books/search.scss";
@import "books/show-review-modal.scss";
@import "users/show.scss";
@import "shared/index.scss";

$main-color: #222831;
$base-color: #eeeeee;
$accent-color: #00adb5;
$sub-color: #393e46;