.plans-show{
  max-width: 500px;
  margin: 0 auto;

  &-label {
    color: white;
    cursor: pointer;
    width: 30rem;
    padding: 3%;
  }

  &-not_started {
    background-color: orangered;
  }

  &-completed {
    background-color: #387eba;
  }

  &-input {
    margin-top: 1rem;
    margin-left: 1rem;
    transform: scale(3.0);
  }
}