.user-search_form {
  margin: 0 auto;
  box-sizing: border-box;
  position: relative;
  border: 1px solid #999;
  display: block;
  padding: 3px 10px;
  border-radius: 20px;
  height: 2.3em;
  width: 260px;
  overflow: hidden;
  .user-search_input {
    border: none;
    height: 2rem;
    &:focus {
      outline: 0;
    }
  }
}
.user-search_btn {
  cursor: pointer;
  font-size: 1.3em;
  border: none;
  background: none;
  color: $accent-color;
  position: absolute;
  width: 2.5em;
  height: 2.5em;
  right: 0;
  top: -10px;
  outline : none;
}
// .user-search_input{
//   box-sizing: border-box;
//   position: relative;
//   border: 1px solid #999;
//   display: block;
//   padding: 3px 10px;
//   border-radius: 20px;
//   height: 2.3em;
//   width: 260px;
//   overflow: hidden;
// }
// .user-search_input input[type="text"]{
//   border: none;
//   height: 2.0em;
// }
// .user-search_input input[type="text"]:focus {
//   outline: 0;
// }
// .user-search_btn {
//   cursor: pointer;
//   font-family: FontAwesome;
//   font-size: 1.3em;
//   border: none;
//   background: none;
//   color: #3879D9;
//   position: absolute;
//   width: 2.5em;
//   height: 2.5em;
//   right: 0;
//   top: -10px;
//   outline : none;
// }