.user-show_tabs {
  padding-bottom: 1em;
  background-color: rgb(241, 238, 238);
  margin-top: 30px;

  &_label {
    width: calc(100%/4);
    padding:15px 0;
    border-bottom: 3px solid $accent-color ;
    background-color: #ececec;
    text-align: center;
    color: $accent-color;
    display: block;
    float: left;
    text-align: center;
    font-weight: bold;
    transition: all 0.2s ease;

    &:hover {
      opacity: 0.75;
    }
  }

  input {
    display: none;
  }

  .user-show_tab_content {
    display: none;
    padding: 1em 1em 0;
    clear: both;
    overflow: hidden;
  }

  .user-show_book_img {
    width: 100px;
  }
}

#tab1:checked ~ #tab1_content,
#tab2:checked ~ #tab2_content,
#tab3:checked ~ #tab3_content,
#tab4:checked ~ #tab4_content {
  display: block;
}

.user-show_tabs input:checked + .user-show_tabs_label {
  background-color: $accent-color;
  color: #fff;
}

.user-show_category_graph {
  margin-top: 30px;
}